body{
    color:black;
    font-family:"Open Sans";
}

textarea,#textInput {
    background:transparent;
    outline:none;
    border:1px dashed;
    max-width:200px; 
    max-height:200px;
}

i.material-icons{
    font-size: 56px;
    margin-left: -16px;
    font-color:blue !important;
}

option.material-icons{
    text-align: center;
    font-size: 36px;
}

#CanvasCard{ /*#feed,#display*/
    display:block;
    margin: 0 auto;
    width:1000px;
}

.mdl-card__media{

    height:500px;
    background-color: transparent;
}

#ToolButtons button{
    width:150px;
    display:block;
    margin: 0 auto;
}
body{
    background: #eee;
}

#ColorsButton, #ShapesButton{
    width:70px;
    height:70px;
}
