body{
    color:black;
    font-family:"Open Sans";
}

textarea,#textInput {
    background:transparent;
    outline:none;
    border:1px dashed;
    max-width:200px; 
    max-height:200px;
}

.material-icons{
    font-size: 28px;
    font-color:blue !important;
}

/*button,select,option{
    -webkit-appearance:none;    
}
*/