body{
    color:black;
    font-family:"Open Sans";
}

textarea,#textInput {
    background:transparent;
    outline:none;
    border:1px dashed;
    max-width:200px; 
    max-height:200px;
}

.material-icons{
    font-size: 28px;
    font-color:blue !important;
}

/*button,select,option{
    -webkit-appearance:none;    
}
*/

#CanvasCard{ /*#feed,#display*/
    display:block;
    margin: 0 auto;
    width:1000px;
}

/*#feed{
    position:relative;
    top:-500px;
}
#display: {
    position:relative;
    bottom:0;
}*/
.mdl-card__media{

    height:500px;
    background-color: transparent;
}

#ToolButtons button{
    width:150px;
    display:block;
    margin: 0 auto;
}
body{
    background: #eee;
}