/*FLEXBOX ALIGNERS*/

.Aligner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Aligner-item {
  max-width: 50%;
}

.Aligner-item--top {
  align-self: flex-start;
}

.Aligner-item--bottom {
  align-self: flex-end;
}

/*FLAT UI COLORS*/
.BelizeHole{
  background: #2980b9;
}
.Turqoise{
  background: #1abc9c;
}
.WetAsphalt{
  background: #34495e;
}
.GreenSea{
  background: #16a085;
}

.Carrot{
  background: #e67e22;
}
/*FONTS FOR TITLES:*/

.CherrySwash{
  font-family: 'Cherry Swash', cursive;
}

.Lato{
  font-family: "Lato";
  font-weight: 100;
  /*Capitalize too!*/
}

.NovaFlat{
  font-family: "Nova Flat",cursive;
}

.PermanentMarker{
  font-family: "Permanent Marker", cursive;
}

.DeliusSwashCaps{
  font-family: "Delius Swash Caps", cursive;
}

/*FONTS FOR TEXT*/

.JosefinSans{
  font-family: "Josefin Sans";
}

html,
body, .demo-layout-transparent #front-page-container {
  height: 100vh;
}
body{
 background:white;
}
#front-page-container{

  display: flex;
  flex-flow: column;
}

.demo-layout-transparent {
  max-width: 100%;
  height: auto;
  display: block;
}
.demo-layout-transparent .mdl-layout__header,
.mdl-layout__header-row .mdl-navigation__link,
.demo-layout-transparent .mdl-layout__drawer-button {
  /* This background is dark, so we set text to white. Use 87% black instead if
     your background is light. */
  color: white !important;
}

.page-content, main{
	width:100%;
}

.mdl-layout__header-row {
  padding-left: 24px !important;
}

.hero-section {
  /* IE11 doesn't like min-height */
  width: 100vw;
  height: 100vh;

  position:absolute;
  top:0; /*64 for header, x2 to make bottom space the same height*/

  background-image: linear-gradient(rgba(63, 81, 181, 0.75), rgba(63, 81, 181, 0.75)), url(/images/canal_grande_venice.jpg);/* */
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  flex-grow: 1;
  background-attachment: fixed;
}

#arrowbutton {
margin-top:56px;
/*  position: absolute;
  bottom: 500px;*/
/*  left: 50%;
  transform: translateX(-50%);*/
}

#hero-title{
	font-family: "LATO";
  font-size: 78px;
  font-weight: 100;
}

.hero-text, .hero-text p {
	font-family: "Josefin Sans";
/*	font-weight: 100;
*/max-width:100%;
  font-size: 24px;
  color: white;
  margin: auto;
}

@media only screen and (max-width: 500px) {
    #hero-title {
        font-size: 36px;
    }
}

@media screen and (max-width: 580px) {
  .hero-text p {
    white-space: pre-line;
  }
}