#webcam,
#feed {
    display: none;
}
.mdl-typography--display-4{
    color: gray;
}

#frontCanvas,#videoCanvas,#myVideo {
    position: absolute;
    top: 125px;
    left:75px;
    margin: auto 0 0 auto;
  }
#myVideo,#backingCanvas{
    visibility: hidden;
	z-index: 0;
}
#frontCanvas{
	z-index: 1;
}

#videoCanvas{
    z-index: 0;
}

body{
	background-color:transparent;
}

#myVideo, #frontCanvas, #videoCanvas
{
    transform: rotateY(180deg);
    -webkit-transform:rotateY(180deg); /* Safari and Chrome */
    -moz-transform:rotateY(180deg); /* Firefox */
}

#ModeButtons a{
    text-decoration: none;
}

#ModeButtons > button{
    width:150px;
/*    height:56px;
*/    display:block;
    margin: 0 auto;
}
body{
    background: #eee;
}

i.material-icons{
    font-size: 56px;
    margin-left: -16px;
    font-color:blue !important;
}

option.material-icons,#ToolButtons i.materialicons{
    text-align: center;
    font-size: 36px;
}

#ColorsButton{
    width:70px;
    height:70px;
}